.Title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #b3c1b7;
  color: black;
}

.TopStatusBar {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  background-color: #a67744;
}
