@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&family=Raleway:wght@100;200;400;500;600&display=swap");

/* ====================
  Fonts being used in this project are:
  * font-family: 'Montserrat', sans-serif;
  * font-family: 'Raleway', sans-serif;  
==================== */

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black
}

